[submodule "third_party/LightGlue"]
	path = third_party/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "third_party/XoFTR"]
	path = third_party/XoFTR
	url = https://github.com/OnderT/XoFTR.git
[submodule "third_party/LoFTR_minima"]
	path = third_party/LoFTR_minima
	url = https://github.com/LSXI7/LoFTR_minima.git
[submodule "third_party/glue_factory_minima"]
	path = third_party/glue_factory_minima
	url = https://github.com/LSXI7/glue_factory_minima.git
[submodule "third_party/RoMa_minima"]
	path = third_party/RoMa_minima
	url = https://github.com/LSXI7/RoMa_minima.git
